// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.basic_table {
  border:1px solid #C0C0C0;
 	border-collapse:collapse;
 	padding:5px;
}
.basic_table th {
	border:1px solid #C0C0C0;
	padding:5px;
	background:#F0F0F0;
}
.basic_table td {
	border:1px solid #C0C0C0;
	padding:5px;
}
